
.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #ffffff93;
    border-radius: 1rem;
    transition: .25s;
}
.acordeon.open,
.acordeon:hover{
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 1rem;
    color: white;
    background: transparent;
    border: none;
}

.acordeon .trigger:hover{
    cursor: pointer;

}

.acordeon .trigger::after{
    content: '';
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../imagens/icons/arow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

/* Criando uma Animação em nosso acordion */
.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.acordeon.open .content {
    display: inline-block;
    height: auto;
    opacity: 1;
    padding: 0 1rem 1rem 2rem; 
}