@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body { 
    height: 100%;
    background-color: #b95252;
    color: #ffffff;
    background: linear-gradient(to bottom, 
    #4314cb, 
    #8c35ec, 
    #bb44f0, 
    #e554f3, 
    #f664e4, 
    #f974cc, 
    #fb85b9, 
    #fd97ae, 
    #fea9aa, 
    #ffc9bb);
    background-repeat: no-repeat;
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1.2rem auto;
    }
}