.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.header::after {
    position: absolute;
    top: 1rem;
    right: 1rem;
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../imagens/icons/3-pontinhos.png');
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: .2rem solid #55569E;

}

.title {
    text-align: center;
    font-family: 'Neue Machina';
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    margin: .5rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information p a {
    color: #fff;
    text-decoration: none;
}

.information p a:hover {
    color: #55569E;
    text-decoration: underline;
}

.information .job::before {
    background-image: url(/assets/imagens/icons/job.png);
}

.information .location::before {
    background-image: url(/assets/imagens/icons/location.png);
}

.information .email::before {
    background-image: url(/assets/imagens/icons/email.png);
}

.information .phone::before {
    background-image: url(/assets/imagens/icons/phone.png);
}

/* Tipos de tela */
@media (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo information"
        ;
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 220px;
    }

    .header .information {
        grid-area: information;
    }

}