/* conf nosso listas de lenguages */

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.languages li::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: .5rem;
    background-image: url('../imagens/icons/check.png');
    background-repeat: no-repeat;
    background-size: contain;

}